Backup/
Cache/
Index/
Installed Packages/
Local/
Packages/User/*.cache
Packages/User/Package Control.cache/
Packages/User/Package Control.last-run
Packages/User/Package Control.merged-ca-bundle
Packages/User/Package Control.user-ca-bundle
Packages/OmniSharp/
Packages/bz2/
Packages/PyV8/
Packages/ssl-linux/
