*.cache
*.pyc
*.last-run

/Backup/
/Installed Packages/
/Pristine Packages/
/Settings/

Packages/Work

Packages/ActionScript
Packages/AppleScript
Packages/ASP
Packages/Batch File
Packages/C#
Packages/C++
Packages/Clojure
Packages/Color Scheme - Default
Packages/CSS
Packages/D
Packages/Default
Packages/Diff
Packages/Erlang
Packages/Go
Packages/Graphviz
Packages/Groovy
Packages/Haskell
Packages/HTML
Packages/Java
Packages/JavaScript
Packages/Language - English
Packages/LaTeX
Packages/Lisp
Packages/Lua
Packages/Makefile
Packages/Markdown
Packages/Matlab
Packages/Objective-C
Packages/OCaml
Packages/Perl
Packages/PHP
Packages/Python
Packages/R
Packages/Rails
Packages/Regular Expressions
Packages/RestructuredText
Packages/Ruby
Packages/Scala
Packages/ShellScript
Packages/SQL
Packages/TCL
Packages/Text
Packages/Textile
Packages/Theme - Default
Packages/Vintage
Packages/XML
Packages/YAML

Packages/Package Control
Packages/AdvancedNewFile
Packages/Alignment
Packages/FileDiffs
Packages/Indent XML
Packages/MSBuild
Packages/PowerShell
Packages/Tag
Packages/Toggle Read-Only
